In [1]:
# Import libraries
import numpy as np               # numeric analysis
import pandas as pd              # DataFrame
import matplotlib.pyplot as plt  # Visualization
import seaborn as sns            # Visualization

In [18]:
path="C:\\Users\\user\\Documents\\GitHub\\Divorce_analysis\\"

In [5]:
#Read data

coupledata=pd.read_csv('C:\\Users\\user\\Documents\\GitHub\\Divorce_analysis\\divorce_data.csv', sep=';')

In [25]:
#Read the descriptions of the data

description=pd.read_table(path+"reference.tsv", sep='|')

In [6]:
#View the top rows
coupledata.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [14]:
#View the bottom rows
coupledata.tail()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
165,0,0,0,0,0,0,0,0,0,0,...,1,0,4,1,1,4,2,2,2,0
166,0,0,0,0,0,0,0,0,0,0,...,4,1,2,2,2,2,3,2,2,0
167,1,1,0,0,0,0,0,0,0,1,...,3,0,2,0,1,1,3,0,0,0
168,0,0,0,0,0,0,0,0,0,0,...,3,3,2,2,3,2,4,3,1,0
169,0,0,0,0,0,0,0,1,0,0,...,3,4,4,0,1,3,3,3,1,0

In [26]:
#view data on the description

description

    atribute_id                                        description
0             1  If one of us apologizes when our discussion de...
1             2  I know we can ignore our differences, even if ...
2             3  When we need it, we can take our discussions w...
3             4  When I discuss with my spouse, to contact him ...
4             5   The time I spent with my wife is special for us.
5             6            We don't have time at home as partners.
6             7  We are like two strangers who share the same e...
7             8                 I enjoy our holidays with my wife.
8             9                    I enjoy traveling with my wife.
9            10         Most of our goals are common to my spouse.
10           11  I think that one day in the future, when I loo...
11           12  My spouse and I have similar values in terms o...
12           13  My spouse and I have similar sense of entertai...
13           14  Most of our goals for people (children, friend...
14           15  Our dreams with my spouse are similar and harm...
15           16  We're compatible with my spouse about what lov...
16           17  We share the same views about being happy in o...
17           18  My spouse and I have similar ideas about how m...
18           19  My spouse and I have similar ideas about how r...
19           20      My spouse and I have similar values in trust.
20           21                 I know exactly what my wife likes.
21           22  I know how my spouse wants to be taken care of...
22           23                  I know my spouse's favorite food.
23           24  I can tell you what kind of stress my spouse i...
24           25       I have knowledge of my spouse's inner world.
25           26                I know my spouse's basic anxieties.
26           27  I know what my spouse's current sources of str...
27           28               I know my spouse's hopes and wishes.
28           29                        I know my spouse very well.
29           30  I know my spouse's friends and their social re...
30           31     I feel aggressive when I argue with my spouse.
31           32  When discussing with my spouse, I usually use ...
32           33  I can use negative statements about my spouse'...
33           34  I can use offensive expressions during our dis...
34           35     I can insult my spouse during our discussions.
35           36          I can be humiliating when we discussions.
36           37          My discussion with my spouse is not calm.
37           38          I hate my spouse's way of open a subject.
38           39              Our discussions often occur suddenly.
39           40  We're just starting a discussion before I know...
40           41  When I talk to my spouse about something, my c...
41           42  When I argue with my spouse, Ä± only go out and...
42           43  I mostly stay silent to calm the environment a...
43           44  Sometimes I think it's good for me to leave ho...
44           45  I'd rather stay silent than discuss with my sp...
45           46  Even if I'm right in the discussion, I stay si...
46           47  When I discuss with my spouse, I stay silent b...
47           48                   I feel right in our discussions.
48           49  I have nothing to do with what I've been accus...
49           50  I'm not actually the one who's guilty about wh...
50           51  I'm not the one who's wrong about problems at ...
51           52  I wouldn't hesitate to tell my spouse about he...
52           53  When I discuss, I remind my spouse of her/his ...
53           54  I'm not afraid to tell my spouse about her/his...

In [13]:
#More information on the dataset
coupledata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 55 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Q1       170 non-null    int64
 1   Q2       170 non-null    int64
 2   Q3       170 non-null    int64
 3   Q4       170 non-null    int64
 4   Q5       170 non-null    int64
 5   Q6       170 non-null    int64
 6   Q7       170 non-null    int64
 7   Q8       170 non-null    int64
 8   Q9       170 non-null    int64
 9   Q10      170 non-null    int64
 10  Q11      170 non-null    int64
 11  Q12      170 non-null    int64
 12  Q13      170 non-null    int64
 13  Q14      170 non-null    int64
 14  Q15      170 non-null    int64
 15  Q16      170 non-null    int64
 16  Q17      170 non-null    int64
 17  Q18      170 non-null    int64
 18  Q19      170 non-null    int64
 19  Q20      170 non-null    int64
 20  Q21      170 non-null    int64
 21  Q22      170 non-null    int64
 22  Q23      170 non-null    int64
 23  Q24      170 non-null    int64
 24  Q25      170 non-null    int64
 25  Q26      170 non-null    int64
 26  Q27      170 non-null    int64
 27  Q28      170 non-null    int64
 28  Q29      170 non-null    int64
 29  Q30      170 non-null    int64
 30  Q31      170 non-null    int64
 31  Q32      170 non-null    int64
 32  Q33      170 non-null    int64
 33  Q34      170 non-null    int64
 34  Q35      170 non-null    int64
 35  Q36      170 non-null    int64
 36  Q37      170 non-null    int64
 37  Q38      170 non-null    int64
 38  Q39      170 non-null    int64
 39  Q40      170 non-null    int64
 40  Q41      170 non-null    int64
 41  Q42      170 non-null    int64
 42  Q43      170 non-null    int64
 43  Q44      170 non-null    int64
 44  Q45      170 non-null    int64
 45  Q46      170 non-null    int64
 46  Q47      170 non-null    int64
 47  Q48      170 non-null    int64
 48  Q49      170 non-null    int64
 49  Q50      170 non-null    int64
 50  Q51      170 non-null    int64
 51  Q52      170 non-null    int64
 52  Q53      170 non-null    int64
 53  Q54      170 non-null    int64
 54  Divorce  170 non-null    int64
dtypes: int64(55)
memory usage: 73.2 KB

In [17]:
#Confirm if there are any missing data
coupledata.isna().sum()

Q1         0
Q2         0
Q3         0
Q4         0
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
Q12        0
Q13        0
Q14        0
Q15        0
Q16        0
Q17        0
Q18        0
Q19        0
Q20        0
Q21        0
Q22        0
Q23        0
Q24        0
Q25        0
Q26        0
Q27        0
Q28        0
Q29        0
Q30        0
Q31        0
Q32        0
Q33        0
Q34        0
Q35        0
Q36        0
Q37        0
Q38        0
Q39        0
Q40        0
Q41        0
Q42        0
Q43        0
Q44        0
Q45        0
Q46        0
Q47        0
Q48        0
Q49        0
Q50        0
Q51        0
Q52        0
Q53        0
Q54        0
Divorce    0
dtype: int64

In [24]:
#By the first look of the data set as it is already converted to numerical form it could be easily passed to a model for prediction